*{
    margin: 0;
    padding: 0;
    border: none;
}

.flex-class{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 24px;
    color: #817D92;
    font-weight: 800;
    line-height: 31px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "JetBrains Mono", monospace;
    color: white;
    background-color: #18171F;
    min-height: 100vh;
}

main{
    justify-content: flex-start!important;
    flex-direction: column;
    height: 632px;
    width: 540px;
    background-color: #24232C;
}

.title{
    margin-bottom: 24px;
}

#Password-display{
    width: 100%;
    height: 80px;
}

.password-input{
    justify-content:flex-start !important;
    height: 100%;
    width: 333px;
}

.password-input p{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.copy{
    height: 100%;
    width: 143px;
}

.active{
    width: 65px;
    color: #A4FFAF;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}